.oak-date {
  display: flex;
  flex-direction: column-reverse;
  input {
    padding: 6px 0;
    background-color: transparent;
    color: var(--color-foreground-1);
    border: none;
    width: 100%;
    outline: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    border-bottom: 1px solid var(--color-foreground-1);
    &:focus {
      border-bottom: 1px solid var(--color-primary-1);
    }
  }

  label {
    font-size: 13px;
  }

  input:focus + label {
    color: var(--color-primary-1);
  }
}
